<!DOCTYPE html>
<html>
<head> 
  <meta name="viewport" content="with=device-width, initial-scale=1.0" >
  <title>Title for hack</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css%22%3E
</head>
<body>
  <section class="header">
<div class="text-box">
  <h1>PROJECT NAME</h1>
  <p>Created by:<br></br>Evan Nadon, Leo Peng, Victor Feng, Shawn Xiao
  </p>
  <form method="POST">
    <input name="text">
    <input type="SUBMIT">
</form>
</div>

</section>

  <script>
  var navLinks = document.getElementById("navLinks");
    function showMenu() {
      navLinks.style.right = "0";
  }
     function hideMenu() {
      navLinks.style.right = "-200px";
     }
</script>


</body>
</html> 
